<!-- 
Aditya Chaudhari, ac3959@drexel.edu
CS530: DUI project
-->

<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    <b>Home
    </b>
{% endblock %}

{% block body %}




<body>
<div class="bakbody">
    <ul>
        <li><a href = "#HOME" ><img src="/img/books.svg" style="max-height: 16px;"></a></li>
        <li><a href="#HOME">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/books">Books</a></li>
    </ul>




<div class="main1">  
    <p class="sign1" align="center">Sign in</p>

    <form action={{ url_for( 'index') }} method="post" class="form1">
        <input type="text" class="un1" name="username" placeholder="Username">
        <input type="password" class="pass1" name="password" placeholder="Password">
        <button type="submit" class="submit1">Submit</button>
        <p class="forgot1" align="center"><a href="#">Forgot Password?</p>
    </form>
    <form action= "{{ url_for('signup') }}" class="form1">
        <button type="submit" class="submit1">Sign Up</button>
    </form>
  
</div>
</div>
</div>
</body>


{% endblock %}
