<!-- 
Aditya Chaudhari, ac3959@drexel.edu
CS530: DUI project
-->

<!DOCTYPE html>
<html lang="en">

  <head>
<title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/course/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/course/lib/popper/popper.min.js"></script>
    <script src="/course/lib/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
            {% block body %}
            {% endblock %}
    </div>
  </body>

</html>
